[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
marshmallow = "*"
pymongo = "*"
flask-oidc = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.6"
