.option-generations{
 display: flex; 
 flex-direction: row;
}

.mn__button {
  cursor:pointer;
  border: none;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1em;
  margin: .5em;

}

.mn__button:hover{
  filter: brightness(150%);
}