
.daw {
  overflow:scroll;
  position: relative;
}

.daw-cell {
  text-align: center;
  box-sizing: border-box;
} /*aeu  eu*/

.natural {
  background-color:whitesmoke;
  color:black;

}
.accidental {
  background-color: black;
  color:white;
}

.fixed-width{
  min-width: 50px;
  background-color: green;
}

.background-cell {
  background-color: rgba(50,50,50,.3);
}

.row {
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}
.playhead {
  width: 4px;
  background-color: black;
  position: absolute;
  top: 0px;
  height: 100%;
}
.subdivision {
  width: 2px;
  background-color: rgba(50,50,50,.3);
  position: absolute;
  top: 0px;
  height: 100%;
}
.horizontal-division{
  height: 2px;
  background-color: rgba(50,50,50,.3);
  position: absolute;
  top: 0px;
}
.header {
  background-color: whitesmoke;
  z-index: 3
}