.handlebar {
  width: 5px;
  height: 100%;
  background-color: black;

}
.note {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: blue; */
}